body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation{
    display: flex;
    background-color: #000;
    justify-content: space-between;
    padding: 1em;
}
h1{
    color: blue;
}
ul{
    display: flex;
    list-style-type: none;
    color: #fff;
    width: 30%;
}
li{
    margin-right: 15%;
}
.background{
    width: 100%;
    position: relative;
    z-index: -1;
    margin-left: 0;
    height: 80vh;
}
.background-text{
    margin: -20% 0 20% 0;
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.section{
    padding: 1em;
    font-size: 18px;
}
.top{
    background-color: #000;
    color: #fff;
    width: 10vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    margin: 0 0 10% 85%;
}

@media(min-width: 320px) and (max-width: 768px) {
    .navigation{
        width: 100%;
    }
    ul{
        flex-direction: column;
    }
    li{
        padding: .3em;
    }
    .background{
        width: 110%;
    }
    .background-text{
        margin: -90% 0 90% 0;
    }
    .top{
        width: 50%;
        height: 7vh;
        margin-left: 30%;
    }
}